apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/name: gluetun
  name: gluetun
spec:
  replicas: 0
  selector:
    matchLabels:
      app.kubernetes.io/name: gluetun
  template:
    metadata:
      labels:
        app.kubernetes.io/name: gluetun
    spec:
      containers:
        - name: gluetun
          env:
            - name: SHADOWSOCKS
              value: on
          envFrom:
            - secretRef:
                name: wireguard-config
          image: docker.io/qmcgaw/gluetun:v3.40.3@sha256:ef4a44819a60469682c7b5e69183e6401171891feaa60186652d292c59e41b30
          ports:
            - name: control
              containerPort: 8000
              protocol: TCP
            - name: shadowsocks-tcp
              containerPort: 8388
              protocol: TCP
            - name: shadowsocks-udp
              containerPort: 8388
              protocol: UDP
          securityContext:
            capabilities:
              add: ["NET_ADMIN", "NET_RAW", "SYS_MODULE"]
          volumeMounts:
            - mountPath: /dev/net/tun
              name: dev-net-tun
      volumes:
        - hostPath:
            path: /dev/net/tun
          name: dev-net-tun
