apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/name: gotify
  name: gotify
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: gotify
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: gotify
    spec:
      containers:
        - name: gotify
          image: ghcr.io/gotify/server:2.8.0@sha256:4702c392ca723d5016fc938c8b22572c3509efca812bdc5221d25158ba0201e3
          ports:
            - name: http
              containerPort: 80
          volumeMounts:
            - name: gotify-data
              mountPath: /var/gotify/data
          livenessProbe:
            tcpSocket:
              port: 80
            initialDelaySeconds: 0
            failureThreshold: 3
            timeoutSeconds: 1
            periodSeconds: 10
          readinessProbe:
            tcpSocket:
              port: 80
            initialDelaySeconds: 0
            failureThreshold: 3
            timeoutSeconds: 1
            periodSeconds: 10
          startupProbe:
            tcpSocket:
              port: 80
            initialDelaySeconds: 0
            failureThreshold: 30
            timeoutSeconds: 1
            periodSeconds: 5
      volumes:
        - name: gotify-data
          persistentVolumeClaim:
            claimName: gotify-data
