apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
spec:
  interval: 10m
  chart:
    spec:
      chart: traefik
      version: 38.0.0
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: traefik
  upgrade:
    crds: CreateReplace
  values:
    additionalVolumeMounts:
      - name: access-logs
        mountPath: /var/log/traefik
    deployment:
      additionalContainers:
        - name: access-logger
          image: alpine@sha256:51183f2cfa6320055da30872f211093f9ff1d3cf06f39a0bdb212314c5dc7375
          command: ["tail", "-F", "/var/log/traefik/access.log"]
          volumeMounts:
            - name: access-logs
              mountPath: /var/log/traefik
      additionalVolumes:
        - name: access-logs
          emptyDir:
            sizeLimit: 100Mi
      kind: DaemonSet
    ingressRoute:
      dashboard:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Reverse proxy
          gethomepage.dev/group: System
          gethomepage.dev/href: "https://traefik.home.elkiaer.net"
          gethomepage.dev/icon: traefik.png
          gethomepage.dev/name: Traefik
          gethomepage.dev/pod-selector: app.kubernetes.io/name=traefik
        enabled: true
        entryPoints: ["web", "websecure"]
        matchRule: Host(`traefik.home.elkiaer.net`) && PathPrefix(`/dashboard`, `/api`)
    logs:
      access:
        enabled: true
        fields:
          headers:
            defaultmode: keep
        filePath: /var/log/traefik/access.log
        filters:
          minduration: 1ms
        format: json
      general:
        format: json
    metrics:
      prometheus:
        serviceMonitor:
          additionalLabels:
            release: prom-stack
    ports:
      web:
        forwardedHeaders:
          trustedIPs:
            - 10.41.0.0/16
            - 10.42.0.0/16
        proxyProtocol:
          trustedIPs:
            - 10.41.0.0/16
            - 10.42.0.0/16
        redirectTo:
          port: websecure
      websecure:
        forwardedHeaders:
          trustedIPs:
            - 10.41.0.0/16
            - 10.42.0.0/16
        proxyProtocol:
          trustedIPs:
            - 10.41.0.0/16
            - 10.42.0.0/16
    service:
      externalIPs:
        - 192.168.1.154
      spec:
        externalTrafficPolicy: Local
    tlsStore:
      default:
        defaultCertificate:
          secretName: net-elkiaer
