apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/name: zigbee2mqtt
  name: zigbee2mqtt
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: zigbee2mqtt
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: zigbee2mqtt
    spec:
      initContainers:
        - name: merge-configuration
          command:
            - sh
            - -c
            - | #@ts=sh
              set -e
              apk --no-cache add yq-go
              touch /data/configuration.yaml
              yq --inplace '. *= load("/tmp/configuration.yaml")' /data/configuration.yaml
          image: docker.io/library/alpine:3.23.2@sha256:865b95f46d98cf867a156fe4a135ad3fe50d2056aa3f25ed31662dff6da4eb62
          volumeMounts:
            - name: zigbee2mqtt-config
              mountPath: /tmp/configuration.yaml
              subPath: configuration.yaml
            - name: zigbee2mqtt-data
              mountPath: /data
      containers:
        - name: zigbee2mqtt
          image: docker.io/koenkk/zigbee2mqtt:2.6.3@sha256:3baac2a3b74a9945fbbcb665b3e6e0ace5df2d49b5502e3d26b66a5454316e81
          env:
            - name: TZ
              value: Europe/Copenhagen
            - name: "ZIGBEE2MQTT_DATA"
              value: "/data"
          ports:
            - name: http
              containerPort: 8080
          volumeMounts:
            - name: zigbee2mqtt-data
              mountPath: /data
            - name: zigbee2mqtt-udev
              mountPath: /run/udev
            - name: ttyacm
              mountPath: /dev/ttyACM0
          livenessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 0
            failureThreshold: 3
            timeoutSeconds: 1
            periodSeconds: 10
          readinessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 0
            failureThreshold: 3
            timeoutSeconds: 1
            periodSeconds: 10
          startupProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 0
            failureThreshold: 30
            timeoutSeconds: 1
            periodSeconds: 5
      volumes:
        - name: zigbee2mqtt-data
          persistentVolumeClaim:
            claimName: zigbee2mqtt-data
        - name: zigbee2mqtt-udev
          hostPath:
            path: /run/udev
        - name: ttyacm
          hostPath:
            path: /dev/serial/by-id/usb-ITEAD_SONOFF_Zigbee_3.0_USB_Dongle_Plus_V2_20221101110016-if00
        - name: zigbee2mqtt-config
          configMap:
            name: zigbee2mqtt
