apiVersion: apps/v1
kind: Deployment
metadata:
  name: homepage
  labels:
    app.kubernetes.io/name: homepage
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: homepage
  template:
    metadata:
      labels:
        app.kubernetes.io/name: homepage
    spec:
      serviceAccountName: homepage
      automountServiceAccountToken: true
      containers:
        - envFrom:
            - secretRef:
                name: homepage-vars
          env:
            - name: HOMEPAGE_ALLOWED_HOSTS
              value: home.elkiaer.net
          name: homepage
          image: ghcr.io/gethomepage/homepage:v1.6.1@sha256:8c7ec6a3c9094af7ac0686aa361fed3129264a8ed2c17594d5114a5e8342f7c9
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
          volumeMounts:
            - name: data
              mountPath: /mnt/data
              readOnly: true
            - name: homepage-config
              mountPath: /app/config
            - name: logs
              mountPath: /app/config/logs
          imagePullPolicy: Always
      volumes:
        - name: data
          hostPath:
            path: /mnt/data
            type: Directory
        - name: homepage-config
          configMap:
            name: homepage
        - name: logs
          emptyDir: {}
